@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

$bootstrap-purple-dark: #381569;
$bootstrap-purple-medium: #53219c;
$bootstrap-purple-light: #8854d6;
$font-family-sans-serif: 'Poppins', sans-serif;
$font-color: rgba(0, 0, 0, 0.72)
